<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge, Chrome=1">
<script>var currTime = new Date().getTime();</script>
<title><%= title %></title>
<link rel="stylesheet" href="/css/style.css"/>

<!-- Bootstrap -->
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/bootstrap.js"></script>

<link href="/css/toilet.css" rel="stylesheet" type="text/css"/>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>

</head>
<body  class="pages">
<h3 align="center"><%= title %></h3>
<div id="conn-count" class="unknown">オンライン接続数</div>
<script>
  var VERSION = <%- JSON.stringify(version) %>;
  var MAX_MESSAGES = <%- max_messages %>;
  var prmsgs = [];

  // Time 時刻
  function toTimeString(x) {
    x = x instanceof Date ? x : this instanceof Date ? this : new Date;
    return pad02(x.getHours()) + ':' + pad02(x.getMinutes()) + ':' +
      pad02(x.getSeconds()) + '.' + pad03(x.getMilliseconds()); }
  function pad02(n) { return ('0'+ n).slice(-2); }
  function pad03(n) { return ('00'+ n).slice(-3); }
  function pad(n, m) {
    return m > 0 ? ('            '+ n).slice(-m) : (n + '            ').slice(0, -m);
  }
  function ms(ms) {
    return pad((ms / 1000).toFixed(3), 12) + ' sec '; }
  function delta() {
    var prev = currTime; currTime = Date.now();
    return toTimeString() + ms(currTime - prev); }
  var $connCount = document.getElementById('conn-count');

  function pr(msg) {
    msg = delta() + msg;
    prmsgs.push(msg);
    if (!$consoleOutput) return;
    var list = $consoleOutput.childNodes;
    while (list.length >= MAX_MESSAGES) $consoleOutput.removeChild(list[0]);
    while (msg = prmsgs.shift()) {
      var div = document.createElement('div');
      div.appendChild(document.createTextNode(msg));
      $consoleOutput.appendChild(div);
    } // while prmsgs
  } // pr
  pr('initialized');
</script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect(document.location.href);
  // 最初の電文を受信
  socket.on('first', function (data) {
    dispCount(data);
    pr('first:' + JSON.stringify(data));
    socket.emit('get group', { group_id: 'rs' });
  });
  // グループを受信
  socket.on('response group', function (data) {
    pr('response group:' + JSON.stringify(data));
    dispCount(data);
    for (var i in data.group.sites)
      for (var j in data.group.sites[i].locations)
        for (var k in data.group.sites[i].locations[j].rooms)
          pr([data.group.name, data.group.sites[i].name,
              data.group.sites[i].locations[j].name,
              data.group.sites[i].locations[j].rooms[k].name].join(' - '));
  });
  // 放送を受信
  socket.on('broadcast', function (data) {
    pr('broadcast:' + JSON.stringify(data));
    dispCount(data);
  });
  // ユーザー切断を受信
  socket.on('user disconnected', function (data) {
    pr('user disconnected:' + JSON.stringify(data));
    dispCount(data);
  });
  // 切断時
  socket.on('disconnect', function () {
    pr('disconnect');
    dispCount({conn_count: 0});
  });
  // 表示
  function dispCount(data) {
    // pr('dispCount:' + JSON.stringify(data));
    if (data && data.hasOwnProperty('conn_count')) {
      var connCount = data.conn_count;
      $connCount.innerHTML = 'オンライン接続数: ' + connCount +
        (connCount === 0 ? ' - 切断されています' :
         connCount === 1 ? ' - あなたひとりだけです' :
                           ' - あなた以外に何人かいます' ) + VERSION;
      // $connCount.style.backgroundColor = connCount ? 'green' : 'red';
      $connCount.className = connCount ? 'online' : 'offline';
    }
    if (data && data.hasOwnProperty('version')) {
      if (data.version !== VERSION) {
        setTimeout(function () { location.reload(); }, 500);
        setTimeout(function () { socket.close(); }, 10);
      }
    } // version
  } // dispCount
</script>
<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <select name="type" class="col-xs-8 c_item form-control">
<% for (var i in group.sites) { %>
      <option id="<%- group.sites[i].site_id %>"><%= group.sites[i].name %></option>
<% } %>
    </select>
  </div>

<% for (var i in group.sites) { %>
<%   var site = group.sites[i]; %>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<%   for (var j in site.locations) { %>
<%     var loc = site.locations[j]; %>
<%     if (j !== 0) { %>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr class="toilet-floor-separator" />
    </div>
<%     } %>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class=" col-xs-3 col-sm-3 col-md-3col-lg-3 toilet-position">
        <%= loc.name %>
      </div>
<%     for (var k in loc.rooms) { %>
<%       var room = loc.rooms[k]; %>
      <div class=" col-xs-3 col-sm-3 col-md-3col-lg-3 toilet-<%- room.status ? 'occupied' : 'empty' %>">
        <div><%= room.status ? 'used!' : 'empty!' %></div>
        <div class="toilet-time">2014/11/18 20:04:54</div>
      </div>
<%     } %>
    </div>
<%   } %>
  </div>
<% } %>

<!--
	<div class=" col-xs-3 col-sm-3 col-md-3col-lg-3 toilet-light-off">
		light-off</div>
	<div class=" col-xs-3 col-sm-3 col-md-3col-lg-3 toilet-light-on">
		light-on</div>
-->
</div>

<pre id="console-output"></pre>
<script>
  var $consoleOutput = document.getElementById('console-output');
</script>

</body>
</html>
